@charset "UTF-8";
/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Base - compass, reset, bugfixes, clearfix
 *
 */
/*
 * Compass Settings
 */
/* Support for Original-Webkit-Syntax at gradients */
/* Support for vendor prefixes for Opera and Konqueror */
/* Support for SVG alternative */
/* Imports neccesarry libaries*/
/*@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";*/
/*
 * Mixins for standard classes
 */
@media all {
  /**
   *
   * Global Reset
   *
   * browser reset
   * @see     http://meyerweb.com/eric/tools/css/reset/
   *          v2.0 | 20110126
   *          License: none (public domain)
   */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: "";
    content: none;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  /**
   *
   * Browser Bugfixes
   *
   * @section fixes
   */
  /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  /**
   * Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera um Springen des Inhalts zu vermeiden
   */
  body {
    overflow-y: scroll;
  }

  /* fix to remove extra inner padding on buttons in firefox */
  input::-moz-focus-inner,
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  button,
  input {
    line-height: normal;
  }

  button,
  select {
    text-transform: none;
  }

  img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
  }

  nav ul,
  nav ol {
    list-style: none;
    list-style-image: none;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
  }

  textarea {
    overflow: auto;
    vertical-align: top;
  }

  /**
   * ---------------------------------------------------------------------------------------------------- #
   *
   * Standard Classes and Helpers
   *
   * generic-content-classes
   */
  .clearfix {
    /* fix for safari */
    display: block;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    content: ".";
  }

  /* rechts fließen lassen */
  .block {
    overflow: hidden;
  }

  /* BFC erzeugen */
  .border_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* end media all */
/* print */
@media print {
  body {
    overflow: visible;
    font-size: 10pt;
    background: transparent none;
  }

  #topnav,
  #nav,
  #search,
  nav,
  .noprint {
    display: none;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, button, em,
b, u, center, dl, dt, dd, ol, ul, li, li a,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header,
menu, nav, section, time,
a.back, a.back:hover, a.back:active {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
}

div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
abbr, acronym, address, big, button, em,
b, u, center, dl, dt, dd, ol,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer,
menu, nav, section, time {
  overflow: hidden;
}

body, h5, h6, p, blockquote,
address, big, button, em,
b, u, center, dt, dd, li,
label, legend, caption, span, tr, th, td,
article, aside, figcaption, footer, header,
menu, time, select {
  font-size: 1.125rem;
  line-height: 1.35rem;
}

.errorpage h1 {
  font-family: 'Helvetica Neue';
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.5rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.5rem;
  padding: 10px 0;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

input {
  font-size: 0.8rem;
  line-height: 1rem;
  box-sizing: border-box;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #004734;
  text-decoration: none;
}
a:active, a:hover {
  color: green;
}
a.link, a.link:active, a.link:hover {
  text-decoration: underline;
}

input,
.list-item a,
.list-item a:hover,
.list-item a:active {
  padding: 5px;
  color: #333;
}


html {
  display: block;
  min-height: 100%;
  background: url("../img/green-white-bg.png");
  background-size: auto 100%;
  background-position: left bottom;
  background-attachment: fixed;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0;
}

header,
.headline {
  display: block;
  padding: 5px 10px;
  border-bottom: #333 1px solid;
}
header:after,
.headline:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: ".";
}

header {
  z-index: 10;
  position: relative;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
header.row {
  margin-bottom: 0;
}

.headline {
  background: rgba(4, 255, 183, 0.3);
}

.right {
  float: right;
  display: block;
}

.left {
  float: left;
  display: block;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}

.more {
  margin-right: 20px;
}

.part {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: -webkit-linear-gradient(rgba(4, 255, 183, 0.8), rgba(208, 254, 241, 0.8));
  background: -o-linear-gradient(rgba(4, 255, 183, 0.8), rgba(208, 254, 241, 0.8));
  background: -moz-linear-gradient(rgba(4, 255, 183, 0.8), rgba(208, 254, 241, 0.8));
  background: linear-gradient(rgba(4, 255, 183, 0.8), rgba(208, 254, 241, 0.8));
}

p.error {
  color: #ddd;
  background: rgba(147, 0, 0, 0.68);
}

.error {
  margin-bottom: 10px; 
  padding: 10px 0;
  text-align: center;
}

.reset-it {
  margin-bottom: 10px;
  background-color: rgba(85, 208, 49, 1);
}

.btn {
  padding: 5px 10px;
  background: linear-gradient(#eee, #999), -webkit-linear-gradient(#eee, #999);
  border: #aaa 1px solid;
  border-radius: 5px;
}

div + .btn.submit {
  margin-top: 0;
}

.btn.submit {
  width: 100%;
  margin-bottom: 10px;
}
.btn a{
    text-decoration: none;
    text-align: center;
    color: #333;
}
.no_btn {
    padding: 0;
    text-decoration: underline;
    background: transparent;
    border: 0 none;
}  
.btn.rounded_left {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}
.btn.rounded_right {
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
}
.back {
  float: left;
  position: relative;
  left: 12px;
  margin: 5px 0;
  padding: 3px 10px 3px 8px;
  border: 1px solid #333;
  border-left: 0 none;
  border-radius: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.back:before, .back:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: -21px;
  width: 30px;
  border: 1px solid #333;
  border-radius: 55px;
}
.back:before {
  top: 5px;
  -webkit-transform: rotate(-47deg) scale(0.6) skew(0deg, 0deg);
  -moz-transform: rotate(-47deg) scale(0.6) skew(0deg, 0deg);
  -ms-transform: rotate(-47deg) scale(0.6) skew(0deg, 0deg);
  -o-transform: rotate(-47deg) scale(0.6) skew(0deg, 0deg);
  transform: rotate(-47deg) scale(0.6) skew(0deg, 0deg);
}
.back:after {
  bottom: 5.5px;
  -webkit-transform: rotate(47deg) scale(0.6) skew(0deg, 0deg);
  -moz-transform: rotate(47deg) scale(0.6) skew(0deg, 0deg);
  -ms-transform: rotate(47deg) scale(0.6) skew(0deg, 0deg);
  -o-transform: rotate(47deg) scale(0.6) skew(0deg, 0deg);
  transform: rotate(47deg) scale(0.6) skew(0deg, 0deg);
}

/* forms */
fieldset {
  text-align: center;
}
fieldset.wrapper {
  position: relative;
  padding: 0 20px;
}
fieldset div + .check-input {
  margin-top: -5px;
}
fieldset .edit {
  z-index: 0;
  position: absolute;
  top: -4px;
  right: 27px;
}
fieldset .edit ~ .edit {
  top: 24px;
}
fieldset input {
  display: block;
  margin: 0;
  border: #999 1px solid;
}
fieldset input.top-rounded,
fieldset input.bottem-rounded {
  width: 100%;
}
fieldset input.top-rounded {
  padding: 7px 10px 5px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  -webkit-box-shadow: inset 0px 1px 2px 1px #777;
  -moz-box-shadow: inset 0px 1px 2px 1px #777;
  box-shadow: inset 0px 1px 2px 1px #777;
}
fieldset input.bottem-rounded {
  margin-top: -2px;
  padding: 5px 10px 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  -webkit-box-shadow: inset 0px -1px 2px 1px #777;
  -moz-box-shadow: inset 0px -1px 2px 1px #777;
  box-shadow: inset 0px -1px 2px 1px #777;
}
fieldset .rounded {
  width: 100%;
  border-radius: 5px;
  padding: 5px 7px;
  -webkit-box-shadow: inset 0px 0px 2px 1px #777;
  -moz-box-shadow: inset 0px 0px 2px 1px #777;
  box-shadow: inset 0px 0px 2px 1px #777;
}
fieldset .rounded#top-input-pwreset {
  margin-top: 10px;
}
fieldset .checkbox input {
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
}
fieldset.ad-settings .row {
  padding-left: 1px;
}

/* Lists */
ul, ol, dl, .item-list {
  padding-top: 5px;
  list-style: none;
  text-align: center;
}

div {
  margin-bottom: 15px;
}

.overlay {
  z-index: 10;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9) !important;
}
.overlay.show,
.overlay .over.show {
  display: block;
}
.overlay .headline {
  margin-bottom: 0;
  background: #04ffb7;
}
.overlay fieldset {
  padding: 20px;
  background: -webkit-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: -o-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: -moz-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
}
.overlay fieldset div {
  margin-bottom: 10px;
}
.row {
  clear: both;
  width: 100%;
}
.row .col-6 {
  float: left;
  width: 50%;
  padding-right: 10px;
}
